{% extends 'base.html' %}

{% block content %}
  {% if request.user.is_authenticated %}
    <form method="POST" action="{% url 'create_post' %}" enctype="multipart/form-data">
        {% csrf_token %}
      <div class="form-floating">
        <textarea class="form-control" placeholder="Leave your caption here" id="caption" name="caption" style="height: 100px"></textarea>
        <label for="caption">Post your updates here !</label>
        <input type="file" name="post_image" accept=".png,.jpeg,.jpg" />
      </div>
      <button type="submit" class="btn btn-success">Post</button>
    </form>
    {% for post in post_list  %}
    <div class="card" style="width: 18rem;">
     
        <div class="card-body">
          {% if post.image and post.image.url %}
          <img src="{{post.image.url}}" class="card-img-top" alt="...">
        {% endif %} 
          <h5 class="card-title">{{post.caption}}</h5>
          <p class="card-text">{{post.user.username}}</p>
          {% if request.user.id != post.user.id %}
            <form method="POST" action="{% url 'like_post' post.id %}">
                {% csrf_token %}
                <input type="hidden" value="{{post.id}}" name="tmp_id" id="tmp_id">
                <button type="submit">Like</button>
            </form>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  {% else %}
    <div class="alert alert-warning" role="alert">You need to be logged in !</div>
  {% endif %}
{% endblock %}
